.cate_content_1{
    margin-top: -70px;
}
.nameofcate{
    margin: auto;
    width: 90%;
    display: flex;
    gap: 30px;
}

.seealls{
    color: var(--ci2);
    margin-top: 15px;
    border: solid rgb(224, 224, 224) 1px;
    padding: 0px 10px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: px;
}

.seealls:hover{
    color: var(--ci6);
    cursor: pointer;
    background-color: var(--ci2);
    border: solid transparent 1px;
}

.main_content_1, .main_content_2{
    margin-bottom: 50px;
}
footer{
    margin-top: 50px;
}
