body{
    --ci1:hsla(290,60%,10%,1);
    --ci2:hsla(320,40%,20%,1);
    --ci3:hsla(50,100%,80%,1);
    --ci4:hsla(0, 45%, 45%, 1);
    --ci5:hsla(208, 100%, 15%, 1);
    --ci6:hsla(0,0%,100%,1);
}