body{
    --ci1:hsla(340,100%,75%,1);
    --ci2:hsla(198, 96%, 20%, 1);
    --ci3:hsla(0, 0%, 10%, 1);
    --ci4:hsla(0, 45%, 45%, 1);
    --ci5:hsla(208, 100%, 15%, 1);
    --ci6:hsla(185, 95%, 20%, 1);
}